@charset "UTF-8";
:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text color */
  --main-txt-cl: #212121;
  --sec-txt-cl: #757575;
  --accent-txt-cl: #2196f3;
  /* bg color */
  --darc-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  /* others */
}

/* reset styles */
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  -webkit-text-decoration: var(--main-font);
          text-decoration: var(--main-font);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h3 {
  padding-bottom: 10px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.menu.is-open {
  display: none;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    display: block;
    opacity: 1;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1000;
  }
}
@media screen and (min-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 40px;
}

.menu__header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.menu__header-items .studio {
  color: #2196F3;
}

.menu__contacts {
  margin-top: 302px;
  margin-bottom: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
}

.menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu__socilas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-bottom: 48px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.menu__socilas-item:not(:first-child) {
  margin-left: 10px;
}

.menu__socilas-item:not(:last-child) .menu__socilas-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__socilas-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 91px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .header__items {
    display: none;
  }
}
.header__items .item:not(:last-child) {
  margin-right: 50px;
}

.header__logo.link {
  font-family: var(--secondary-font);
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.item-nav-studio {
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.nav-item.studio {
  position: relative;
  color: var(--accent-txt-cl);
}

.nav-item.studio::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 4px;
  background-color: var(--accent-txt-cl);
}

.nav-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.nav-item:hover, .nav-item:focus {
  color: var(--accent-txt-cl);
}

.header__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-left: auto;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}
@media screen and (max-width: 767px) {
  .header__contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    font-size: 12px;
    line-height: 1.1666666667;
    margin-left: auto;
    display: block;
  }
}
@media screen and (min-width: 1190px) {
  .header__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 312px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .header__item {
    width: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }
  .header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1190px) {
  .header__item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__tel {
  color: var(--sec-txt-cl);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header__tel:hover, .header__tel:focus {
  color: var(--accent-txt-cl);
}
@media screen and (max-width: 1190px) {
  .header__tel {
    width: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
}

.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--sec-txt-cl);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.header__mail:hover, .header__mail:focus {
  color: var(--accent-txt-cl);
}
@media screen and (max-width: 1190px) {
  .header__mail {
    width: 138px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
}

.header__envelope {
  display: inline-block;
  fill: var(--sec-txt-cl);
  width: 100%;
  height: 12px;
  width: 16px;
  margin-right: 10px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (max-width: 1190px) {
  .header__envelope {
    width: 14px;
    height: 10px;
  }
}

.header__mail:hover .header__envelope {
  fill: var(--accent-txt-cl);
}

.header__mail:focus .header__envelope {
  fill: var(--accent-txt-cl);
}

/* tell */
.header__smartphone {
  display: inline-block;
  fill: var(--sec-txt-cl);
  width: 100%;
  height: 16px;
  width: 10px;
  margin-right: 10px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (max-width: 1190px) {
  .header__smartphone {
    width: 10px;
    height: 14px;
  }
}

.header__tel:hover .header__smartphone {
  fill: var(--accent-txt-cl);
}

.header__tel:focus .header__smartphone {
  fill: var(--accent-txt-cl);
}

.header__smartphone:focus {
  fill: var(--accent-txt-cl);
}

.menu__icon-burger {
  display: none;
  fill: #212121;
}

.menu__icon-close {
  display: block;
  fill: #212121;
}
.menu__icon-close:hover, .menu__icon-close:focus {
  fill: var(--accent-txt-cl);
}

.menu__button.is-open .menu__icon-close {
  display: none;
}

.menu__button.is-open .menu__icon-burger {
  display: block;
}

.main-section {
  text-align: center;
  background-color: var(--darc-bg-cl);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-fon/img@1x-sm.png);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-fon/img@1x-sm.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-fon/img@2x-sm.png);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-fon/img@2x-sm.png);
  }
}
@media screen and (min-width: 768px) {
  .main-section {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-fon/img@1x-md.png);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-fon/img@1x-md.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-fon/img@2x-md.png);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-fon/img@2x-md.png);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-fon/Img@1x-lg.png);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-fon/Img@1x-lg.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-fon/img@2x-lg.png);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-fon/img@2x-lg.png);
  }
}

.main-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  margin: 0px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .main-section__title {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.main-section__backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms, visibility cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.main-section__backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.modal {
  position: absolute;
  background-color: white;
  width: 528px;
  padding: 40px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: ease-in-out 700ms;
  transition: ease-in-out 700ms;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

.modal__form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.register-form__group {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form__group:last-child {
  margin-bottom: 0px;
}

.register-form__name {
  display: block;
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.register-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.register-form__input,
.register-form__comment {
  width: 100%;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.register-form__input:hover,
.register-form__input:focus {
  border-color: var(--accent-txt-cl);
}

.register-form__group:hover .register-form__icon {
  fill: var(--accent-txt-cl);
}

.register-form__input:focus + .register-form__icon {
  fill: var(--accent-txt-cl);
}

.register-form__comment {
  height: 120px;
  resize: none;
  padding: 16px 12px;
}
.register-form__comment:hover, .register-form__comment:focus {
  border-color: var(--accent-txt-cl);
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.mailing-icon {
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.register-chekbox:checked + .mailing-icon .mailing-icon-uncheck {
  opacity: 1;
}

.register-chekbox:checked + .mailing-icon .mailing-icon-check {
  opacity: 0;
}

.mailing-icon-uncheck {
  opacity: 0;
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.mailing-icon-check {
  -webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.mailing-link {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
  text-underline-position: under;
}

.mailling-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .mailling-text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.team {
  background-color: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin: 0px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.team-items {
  display: block;
}

.team__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  text-align: center;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  margin-top: 50px;
}

.team__card {
  width: 450px;
  display: inline-block;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
}

.team__item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-img {
  margin: 0px;
}

.team__name {
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  padding-bottom: 0px;
}

.team__prof {
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-txt-cl);
  margin-bottom: 16px;
}

.team__section {
  margin-top: 94px;
  margin-bottom: 94px;
}

.team-items {
  background-color: var(--light-bg-cl);
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.lists {
  list-style-type: none;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-txt-cl);
}

.team__social-icon {
  width: 20px;
  height: 20px;
  fill: #757575;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.team__social-link:hover .team__social-icon {
  fill: white;
}

.team__social-link:focus .team__social-icon {
  fill: white;
}

.main-section__btn {
  font-family: inherit;
  background-color: var(--accent-txt-cl);
  color: white;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.main-section__btn:hover, .main-section__btn:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .main-section__btn {
    padding: 10px 32px;
  }
}

/* Portfolio buttons */
.main-btn-section {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (min-width: 767px) {
  .main-btn-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .main-btn-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 480px) {
  .main-btn__bottoms {
    margin-top: 7px;
  }
}

.btn-section__lits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .btn-section__lits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    gap: 8px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .btn-section__lits {
    margin-bottom: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-section__lits {
    margin-bottom: 34px;
  }
}

.btn-section__lits .main-btn__bottoms + .main-btn__bottoms {
  margin-left: 8px;
}
@media screen and (max-width: 480px) {
  .btn-section__lits .main-btn__bottoms + .main-btn__bottoms {
    margin-left: 0px;
  }
}

.main-btn__item {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms, background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.main-btn__item:hover, .main-btn__item:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  background-color: var(--accent-txt-cl);
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-icon {
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.modal__close-icon:hover, .modal__close-icon:focus {
  fill: var(--accent-txt-cl);
}

.register-form__btn {
  width: 200px;
  height: 50px;
  padding: 0px;
  margin-bottom: 40px;
  background-color: var(--accent-txt-cl);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.register-form__btn:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.footer__form-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 0px;
  background-color: var(--accent-txt-cl);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: white;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer__form-btn:hover, .footer__form-btn:focus {
  background-color: #188ce8;
}
@media screen and (max-width: 1199px) {
  .footer__form-btn {
    margin-top: 20px;
  }
}

.menu__button {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu__button {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2000;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.benefits {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .benefits {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
  }
}

.main-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
@media screen and (max-width: 480px) {
  .main-list-item {
    text-align: center;
  }
}

.benefits__list {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media screen and (max-width: 480px) {
  .benefits__list {
    padding-left: 0px;
    margin: 0;
  }
}
@media screen and (min-width: 767px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 0px;
  }
}

.benefits__items {
  margin: 0;
  width: 450px;
}
@media screen and (max-width: 768px) {
  .benefits__items:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__items {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__items {
    margin-right: 30px;
    width: 270px;
  }
  .benefits__items:last-child {
    margin-right: 0px;
  }
}

.lists-items {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--sec-txt-cl);
}

.benefits__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  height: 120px;
}
@media screen and (max-width: 480px) {
  .benefits__quality {
    width: 450px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__quality {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__quality {
    width: 270px;
  }
}

.works-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .works-section {
    display: none;
  }
}

.works-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
}

.works-section__img {
  position: relative;
}

.works-section__profile {
  display: block;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.works-section__list {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  margin-top: 50px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  z-index: 10;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1199px) {
  .client {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.client__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}

.сlient__icon {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
@media screen and (min-width: 768px) {
  .сlient__icon {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .сlient__icon {
    width: 170px;
  }
}
.сlient__icon:hover, .сlient__icon:focus {
  border: 1px solid var(--accent-txt-cl);
}

.сlient__icon:hover .сlient__icon-item,
.сlient__icon:focus .сlient__icon-item {
  fill: var(--accent-txt-cl);
}

.сlient__icon-item {
  fill: #afb1b8;
  -webkit-transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.сlient__icon-item:hover {
  fill: var(--accent-txt-cl);
}

.footer {
  background-color: var(--darc-bg-cl);
  width: 100%;
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  color: white;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 1199px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1199px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .footer__adress {
    margin-right: 0px;
  }
}
.footer__social-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .footer__social-heading {
    margin-top: 60px;
  }
}

.footer-item-webstudio {
  display: block;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}
@media screen and (max-width: 1199px) {
  .footer-item-webstudio {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-web {
  color: var(--accent-txt-cl);
}

.footer__address {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .footer__address {
    padding-left: 10px;
  }
}

.footer__adress-items {
  margin-top: 0px;
}
@media screen and (max-width: 1199px) {
  .footer__adress-items {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__item {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  -webkit-transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer__item:hover, .footer__item:focus {
  color: var(--accent-txt-cl);
}

.footer__items {
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  padding-left: 0px;
}
.footer__items:first-child {
  margin-top: 0px;
}
@media screen and (max-width: 1199px) {
  .footer__items {
    max-width: 232px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__items-title {
  margin-top: 9px;
}

.footer__heading-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
}
@media screen and (max-width: 1190px) {
  .footer__heading-title {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer__heading-title {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 20px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #44454e;
  border-radius: 50%;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-txt-cl);
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.footer__social-link:hover .social-icon,
.footer__social-link:focus .social-icon {
  fill: white;
}

@media screen and (max-width: 767px) {
  .footer__form {
    margin-left: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  .footer__form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px), screen and (max-width: 1199px) {
  .footer__form {
    text-align: center;
  }
}

.footer__form-title {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
@media screen and (max-width: 1199px) {
  .footer__form-group {
    width: 450px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__label {
    width: 100%;
  }
}

.footer__form-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: white;
}
@media screen and (max-width: 1199px) {
  .footer__form-input {
    width: 100%;
  }
}

.footer__form-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-left: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@media screen and (max-width: 480px) {
  .logo-title__link {
    width: 100%;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .logo-title__link {
    width: calc((100% - 30px) / 2);
  }
}

.logo-title__link .link {
  display: block;
}
.logo-title__link .link:hover, .logo-title__link .link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo-title__link .link:hover .overlay,
.logo-title__link .link:focus .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.logo-title__overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.logo-title__text {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: white;
  padding: 63px 24px;
}

.wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.wrapper__main-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.wrapper__title {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.875;
  color: var(--sec-txt-cl);
}/*# sourceMappingURL=main.css.map */