.main-section__btn {


    font-family: inherit;
    background-color: var(--accent-txt-cl);
    color: white;
    font-weight: 700;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;

    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
    &:focus {
            background-color: #188ce8;
    }

        @media screen and(min-width: 1200px){
    padding: 10px 32px;
        }
}

/* Portfolio buttons */

.btn-section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and(max-width:480px) {
        padding-top: 0px;
    }
}

.main-btn__bottoms{
    @media screen and(max-width:480px) {
        margin-top: 7px;
       
    }
}

.btn-section__lits {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    margin: 0px;

    @media screen and(max-width:480px) {
        flex-wrap: wrap;
        justify-content: left;
        width: 326px;
        gap: 8px;
        margin-top: 60px;
    }
}

.btn-section__lits .main-btn__bottoms+.main-btn__bottoms {
    margin-left: 8px;
@media screen and(max-width:480px){
    margin-left: 0px;
    }
      
}

.main-btn__item {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    line-height: calc(26 / 16);
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.03em;
    border: none;
    border-radius: 4px;

    transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms,
        background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms,
        box-shadow cubic-bezier(0.4, 0, 0.2, 1) 250ms;

        &:hover,
        &:focus {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
        background-color: var(--accent-txt-cl);}
}

// modal

.modal__close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-icon {
    background-color: white;
    border-radius: 50%;
    padding: 6px;

    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
    &:focus {fill: var(--accent-txt-cl);}
}

// modal register form btn
.register-form__btn {
    width: 200px;
    height: 50px;
    padding: 0px;
    margin-bottom: 40px;

    background-color: var(--accent-txt-cl);

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: white;

    border: none;
    border-radius: 4px;

    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover {background-color: #188ce8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }}


// footer form
.footer__form-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    width: 200px;
    height: 50px;
    padding: 0px;

    background-color: var(--accent-txt-cl);

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: white;

    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
    &:focus {
        background-color: #188ce8;}

    @media screen and(max-width:1199px) {
        margin-top: 20px;
    }
        
}

// menu burger
.menu__button{
    display: none;

    @media screen and (max-width:767px) {
        position: relative;
        display: inline-flex;
        margin: 0;
        margin-left: auto;
        padding: 0;
        border: none;
        background-color: transparent;
        z-index: 2000;
    }
}

