.client {
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and(min-width: 1199px) {
        margin-bottom: 94px;
        margin-top: 94px;
    }
    
}

.client__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0px;

    margin-block-start: 0px;
    margin-block-end: 0px;
}


.сlient__icon {
width: 210px;

    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;}

    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: border cubic-bezier(0.4, 0, 0.2, 1) 250ms, fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
    &:focus {
            border: 1px solid var(--accent-txt-cl);
}
}

.сlient__icon:hover .сlient__icon-item,
.сlient__icon:focus .сlient__icon-item {
    fill: var(--accent-txt-cl);
}

.сlient__icon-item {
    fill: #afb1b8;

    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover {
        fill: var(--accent-txt-cl);
    }
}

