.footer__form {
    // margin-left: 93px;

    @media screen and(max-width:767px) {
        margin-left: auto;
        justify-content: space-around;

    }
    

    @media screen and(max-width:1199px){
        margin-top: 60px;
        // margin-left: 0px;
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: space-around;
        // margin-left: auto;
        // justify-content: center;
    }

    @media screen and(min-width:768px), screen and(max-width:1199px) {
       text-align: center;
        // margin-right: auto;
        // display: block;
    }

}

.footer__form-title {
    margin-left: auto;
    margin-right: auto;
    // width: 207px;
    align-items: center;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    @media screen and(max-width:1199px){
        width: 450px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
        // margin-left: auto;
        // margin-right: auto;

    }
}

.footer__label {
@media screen and(max-width:1199px) {
     width: 100%;
}
}

.footer__form-input {
    padding-left: 16px;
    width: 358px;
    height: 50px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;

    color: white;

@media screen and(max-width:1199px) {
    width: 100%;
}
}

.footer__form-icon {
    align-items: center;
}

.input::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}