.header {
    position: relative;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ececec;
}



.header__nav {
    display: flex;
    align-items: center;
    // margin-top: 15px;
    // margin-bottom: 15px;
}
   

.header__items {
    @media screen and(max-width:767px) {
            display: none;
    
        }
   
    display: flex;
    margin-left: 91px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 0px;

    & .item:not(:last-child) {
            margin-right: 50px;
        }

}

.header__logo.link {
       font-family: var(--secondary-font);
       color: #2196f3;
       font-weight: 700;
       font-size: 26px;
       line-height: calc(31 / 26);
       letter-spacing: 0.03em;
   }

.item-nav-studio {
       color: #212121;
       font-weight: 700;
       font-size: 26px;
       line-height: calc(31 / 26);
       letter-spacing: 0.03em;
   }

   .nav-item.studio {
       position: relative;
       color: var(--accent-txt-cl);
   }

   .nav-item.studio::after {
       content: '';
       display: block;
       width: 100%;
       height: 4px;

       position: absolute;
       bottom: 0px;
       left: 0px;

       border-radius: 4px;
       background-color: var(--accent-txt-cl);
   }

   .nav-item {
       display: block;
       padding-top: 32px;
       padding-bottom: 32px;

       font-weight: 500;
       font-size: 14px;
       line-height: calc(16 / 14);
       letter-spacing: 0.02em;

       transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

       &:hover,
       &:focus {
        color: var(--accent-txt-cl);
       }
   }

   .header__contacts {
       font-weight: 500;
       font-size: 14px;
       line-height: calc(16 / 14);
       letter-spacing: 0.02em;

       align-items: center;
       padding-left: 0px;
       padding-inline-start: 0px;
       margin-left: auto;
       margin-block-start: 0px;
       margin-block-end: 0px;

    @media screen and(max-width:767px) {
        display: none;
        }

    @media screen and(min-width:768px) {
        font-size: 12px;
        line-height: calc(14 / 12);
        
        margin-left: auto;
        display: block;
        // margin-inline-start: 0px;
        }

    @media screen and(min-width:1190px) {
        display: flex;
        margin-left: 312px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
   }
}

   .header__item {

       @media screen and(max-width:1199px) {
        width: 138px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 0px;

        &:not(:last-child){
            // margin-top: 15px;
            margin-bottom: 10px;
        }
       }

        @media screen and(min-width:1190px) {
            &:not(:last-child) {
                    margin-right: 30px;
                }
        width: max-content;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        }

   }

      .header__tel {
        color: var(--sec-txt-cl);
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

        &:hover,
        &:focus {
            color: var(--accent-txt-cl);
        }

        @media screen and(max-width:1190px) {
        width: 138px;
        display: flex;
        align-items: center;
        padding: 0px;
        // margin-top: 10px;
        // margin-bottom: 21px;
        }
    }

   .header__mail {
        display: flex;
        align-items: center;
       color: var(--sec-txt-cl);
       display: block;
       padding-top: 32px;
       padding-bottom: 32px;

       transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    &:hover,
        &:focus {
            color: var(--accent-txt-cl);
        }

     @media screen and(max-width:1190px) {
        width: 138px;
        display: flex;
        align-items: center;
        padding: 0px;
        }
   }

