.header__envelope {
    display: inline-block;
    fill: var(--sec-txt-cl);
    width: 100%;
    height: 12px;
    width: 16px;
    margin-right: 10px;

    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header__mail:hover .header__envelope {
    fill: var(--accent-txt-cl);
}

.header__mail:focus .header__envelope {
    fill: var(--accent-txt-cl);
}

/* tell */

.header__smartphone {
    display: inline-block;
    fill: var(--sec-txt-cl);
    width: 100%;
    height: 16px;
    width: 10px;
    margin-right: 10px;

    transition: fill cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.header__tel:hover .header__smartphone {
    fill: var(--accent-txt-cl);
}

.header__tel:focus .header__smartphone {
    fill: var(--accent-txt-cl);
}

.header__smartphone:focus {
    fill: var(--accent-txt-cl);
}

