:root {
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* text color */
    --main-txt-cl: #212121;
    --sec-txt-cl: #757575;
    --accent-txt-cl: #2196f3;

    /* bg color */
    --darc-bg-cl: #2f303a;
    --light-bg-cl: #f5f4fa;

    /* others */
}

/* reset styles */
.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    text-decoration: var(--main-font);
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    object-fit: cover;
    object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

h3 {
    padding-bottom: 10px;
}